* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: sans-serif;
}

body {
	background-color: #F7FFF7;
}

header {
	padding-top: 64px;
	background-color: #FF6B6B;
}

header h1, header nav {
	padding: 0 15%;
	margin: auto;
}

header h1 {
	text-align: center;
	padding-bottom: 32px;
}

header nav {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #1A535C;
}

header nav ul li{
	display: inline-block;
	align-content: center;
	justify-content: center;
	line-height: 36px;
}

header nav ul li + li {
	margin-left: 25px;
}

header nav ul li a {
	color: #f8c630;
	font-size: 18px;
	font-weight: bold;
}

main {
	width: 70%;
	margin: 24px auto;
}

main aside {
	background-color: #4ECDC4;
	display: inline-block;
	padding: 12px 24px;
	border: 3px solid #FFE66D;
	border-radius: 8px;
	margin-bottom: 24px;
	vertical-align: top;
}

.titles {
	text-align: center;
	line-height: 32px;
}

.titles h3 {
	font-size: 24px;
}

.titles h4 {
	font-size: 16px;
	border-bottom: 1px solid #dcdcdd;
	margin-bottom: 4px;
}

.image-box {
	text-align: center;
	border-bottom: 1px solid #dcdcdd;
	margin-bottom: 8px;
}

.class-table {
	width: 300px;
	margin: auto;
	line-height: 24px;
}

.class-table h4{
	font-size: 16px;
	margin: 4px;
}

.class-table p {
	display: inline-block;
	width: 49%;
}

main article {
	display: inline-block;
	width: 65%;
	margin-left: 24px;
}

main article h2 {
	font-size: 32px;
	line-height: 36px;
	margin-bottom: 12px;
}

article section {
	border-radius: 12px;
	border: 4px dashed #4ECDC4;
	padding: 24px;
}

article section + section {
	margin-top: 16px;
}

article section h3 {
	font-size: 22px;
	margin-bottom: 8px;
}

article section p {
	line-height: 24px;
	font-size: 18px;
}

article section .image-box {
	padding: 12px;
	border: none;
}

.image-unit {
	width: 100%;
	margin: 12px 0 0 0;
}

.bibliographic-references {
	list-style-position: inside;
}

.bibliographic-references ul li a{
	font-size: 20px;
	line-height: 28px;
	text-decoration: underline;
}

.video-sec {
	margin: 20px 0 0 0;
	text-align: center;
}

.video-sec h3 {
	font-size: 32px;
	margin-bottom: 20px;
}

.video-sec iframe {
	position: relative;
	overflow: hidden;
	width: 1280px;
	height: 720px;
	max-width: 100%;
	margin-bottom: 32px;
}
